body {
    background-color: plum;
}
a:link {
  color:#808080;
  text-decoration:none;
  }
a:visited {
  color:white;
  text-decoration:none;
  }
a:hover {
  color:#404040;
  text-decoration:underline;
  }
img {
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    text-align: center;
    border: 1px solid black;
}
.page {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: white;
}
.headernav {
    display: flex;
    flex-flow: row wrap;
}
.header {
    flex: 4;
    background: green;
    border: 2px solid black;
    text-align: center; 
}
.navbar {
    flex: 1;
    background: yellow;
    border: 2px solid blue;
    text-align: center;
}
.avatar {
    flex: 1;
    background: blue;
    
}
.title {
    flex: 4;
    background: yellow;
    text-align: center;
}
.categories {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 22;
    height: 50rem;
    width: 100%;
    margin: 10px;
}
.category {
   /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;*/
    flex: 1;
    color: white;
    font-size: 22;
    background: peachpuff;
    border: 4px solid black;
    text-align: center;
    margin: 10px;
    height: 45rem;
    width: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: blue;
  text-align: center;
  background-color: yellow:
}

sidebar {
    display: flex;
}
