body {
    background: lightblue;
}
.page {
    display: flex;
    flex-flow: column wrap;
    background: lightblue;
    padding: 10px;
    border: 4px solid blue;
    /*height: 50rem;*/
}

.headernav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid black;
}
.header {
    flex: 2;
    background: transparent;
    font-size: 60px;
    text-align: center;
    justify-content: center; 
}
.navbar {
    display: flex;
    background: transparent;
    /*border: 2px solid black;*/
    text-align: center;
    align-items: space-between;
}
.navbaritem {
    flex:1;
}
.recipe {
    display: flex;
    flex: 8;
}
.ingredients {
    flex: 1;
    background: transparent;
    border: 2px solid black;
}
.instructions {
    flex: 3;
    background: transparent;
    border: 2px solid black;
}
.footer {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    text-align: left;
   /* border: 1px solid black;*/
}

