body {
    background: FireBrick;
}
a:link {
  color:#808080;
  text-decoration:none;
  }
a:visited {
  color: GoldenRod;
  text-decoration:none;
  }
a:hover {
  color:#404040;
  text-decoration:underline;
  }
.page {
    /*display: flex;
    flex-flow: column wrap;*/
    background: FireBrick;
    padding: 10px;
    color: GoldenRod;
    
   /* border: 4px solid blue;
    height: 50rem;*/
}

.headernav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid black;
    color: GoldenRod;
}
.header {
    flex: 2;
    background: transparent;
    font-size: 60px;
    text-align: center;
    justify-content: center; 
}
.navbar {
    display: flex;
    background: transparent;
    /*border: 2px solid black;*/
    text-align: center;
    align-items: space-between;
}
.navbaritem {
    flex:1;
}
.title {
    text-align: center;
}
.recipe {
    display: flex;
    flex: 8;
    flex-flow: row wrap;
    justify-content: space-around;
}
.ingredients {
    flex: 2;
    background: transparent;
    border: 2px solid black;
    text-align: center;
    color: peach;
}
.instructions {
    flex: 3;
    background: transparent;
    border: 2px solid black;
    text-align: center;
}
.footer {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    text-align: left;
   /* border: 1px solid black;*/
}

